[submodule "lib/WAV"]
	path = lib/WAV
	url = https://github.com/koobh/WAV
[submodule "lib/STFT"]
	path = lib/STFT
	url = https://github.com/koobh/STFT
[submodule "minorninth"]
	path = minorninth
	url = https://github.com/minorninth/libresample.git
